{% extends "templates/base.html" %}

{% block title %}{{auth_login_trans.en0}}{% endblock %}

{% block maincontent %}
<div>
    <div class='panel panel-borderless panel-default col-sm-6 col-sm-offset-3' style="margin-bottom:40px">
        <div class='panel-body'>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>{{auth_login_trans.en0}} </h2>

                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {% if failed %}
                        <div class="text-center"><font color="red">{{auth_login_trans.en3}}</font></div>
                    {% endif %}


                    {% if brute_force_issue %}
                        <div class='alert alert-danger errormessages alert-dismissable'>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{brute_force_issue}}
                        </div>
                    {% endif %}


                    {% if locked %}
                        <div class='alert alert-danger errormessages alert-dismissable'>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>{{auth_login_trans.en10}}</strong><br>
                            <p>{{auth_login_trans.en11}}</p>
                            <p>{{auth_login_trans.en12}} <a href="#contact" data-toggle='modal'> {{auth_login_trans.en9}}</a>{{auth_login_trans.en13}}</p>
                        </div>
                    {% endif %}
                    {% if verified %}
                        <div class="text-center"><font color="red">{{auth_login_trans.en3}}</font></div>
                    {% endif %}
   