{% extends "templates/base.html" %}

{% block title %}{{auth_resetpw_trans.en0}}{% endblock %}

{% block maincontent %}

<div>
	<div class='panel panel-borderless panel-default col-sm-4 col-sm-offset-4 '>
		<div class='panel-body'>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2>{{auth_resetpw_trans.en0}}</h2>
				</div>
			</div>
			<div class="row">

				{% if passwordUpdated %}

					<div class="text-center">{{auth_resetpw_trans.en5}}</div>

				{% else %}

					<div class="text-center"><font color="red">{{error}}</font></div>
					<div class="col-md-10 col-md-offset-1">
						<form accept-charset='UTF-8' action="/password/reset" method="post" class=