{% extends "templates/base.html" %}
{% block title %}Trading Interface{% endblock %}
{% block head %}
<!--<META HTTP-EQUIV="refresh" CONTENT="600">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<!--<link rel="stylesheet" href="/css/small-bell-ring-01a.mp3">-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<style>

.data_label_class {
    font-weight: bold;
    font-size: 80%;
}

.cancel_working {
    cursor:pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

</style>

{% endblock %}
{% block maincontent %}

<div class="container">
    <div id="settings-div-1" style="padding:0px;" class="row">
        <div class="col-xs-2">
            <span id="coin_show">Coin: {{coin}}</span>
        </div>
        <div class="col-xs-2">
            <span id="required_spread_show">Required Spread (%): {{required_spread}}</span>
        </div>
        <div class="col-xs-2">
            <span id="trade_size_show">Quantity (BTC): {{trade_size}}</span>
        </div>
        <div class="col-xs-2">
            <span id="buy_on_exchange_show">Buy On: {{buy_on}}</span>
        </div>
        <div class="col-xs-2">
            <span id="send_to_exchange_show">Send To: {{send_to}}</span>
        </div>
        <div class="col-xs-2">
            <span id="email_notification_show">Email Notification: {{email_notification}}</span>
        </div>
    </div>
    <div id="change-settings-div-1" class="row" style="padding-top:10px;">
        <div class="col-xs-2">
            <!--<input type="text" class="input-sm" name="coin" id="coin" value="{{coin}}" style="width:50px;">-->
            <select name="coin" id="coin">
              <option value="btc" {% if coin == "btc" %} selected {% endif %} >btc</option>
              <option value="ltc"  {% if coin == "ltc" %} selected {% endif %} >ltc</option>
                <option value="eth" {% if coin == "eth" %} selected {% endif %} >eth</option>
              <option value="etc"  {% if coin == "etc" %} selected {% endif %} >etc</option>
            </select>
        </div>
        <div class="col-xs-2">
            <input type="number" step="0.1" class="input-sm" name="required_spread" id="required_spread" value="{{required_spread}}" style="width:70px;">
        </div>
        <div class="col-xs-2">
            <input type="number" step="0.1" class="input-sm" name="trade_size" id="trade_size" value="{{trade_size}}" style="width:70px;">
        </div>

        <div class="col-xs-2" >
            <select name="buy_on_exchange" id="buy_on_exchange">
              <option value="gdax" {% if buy_on == "gdax" %} selected {% endif %} >gdax</option>
              <option value="cex"  {% if buy_on == "cex" %} selected {% endif %} >cex</option>
                <option value="kraken" {% if buy_on == "kraken" %} selected {% endif %} >kraken</option>
              <option value="exmo"  {% if buy_on == "exmo" %} selected {% endif %} >exmo</option>
            <option value="bittrex"  {% if buy_on == "bittrex" %} selected {% endif %} >bittrex</option>
            </select>
        </div>

        <div class="col-xs-2" >
            <select name="send_to_exchange" id="send_to_exchange">
              <option value="gdax" {% if send_to == "gdax" %} selected {% endif %} >gdax</option>
              <option value="cex"  {% if send_to == "cex" %} selected {% endif %} >cex</option>
                <option value="kraken" {% if send_to == "kraken" %} selected {% endif %} >kraken</option>
              <option value="exmo"  {% if send_to == "exmo" %} selected {% endif %} >exmo</option>
                <option value="bittrex"  {% if send_to == "bittrex" %} selected {% endif %} >bittrex</option>
            </select>
        </div>

        <div class="col-xs-2" >
            <input type="text" class="input-sm" name="email_notification" id="email_notification" value="{{email_notification}}" style="width:120px;">
        </div>

    </div>

    <div class="row" style="padding-top:20px;padding-left:20px;">
        {{description_string}}
    </div>

    <div class="row" style="padding-top:20px;padding-left:20px;">
        <div class="col-xs-2" >
            <button class="btn btn-sm btn-primary" id="update_settings_btn" style="padding:4px;" data-toggle="modal" data-target="#checkModal">UPDATE</button>
        </div>
    </div>

    <div style="padding:20px;" class="row">
        <hr>
        <div id="status_div" style="color:green;">

        </div>
    </div>

    <div id="info-div-1" style="padding:20px;" class="row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-3">
                    {%  for ex in exchange_list %}
                        <div>
                            <span class="data_label_class">{{ex}} BALANCES</span>
                            <ul style="list-style: none;" id="{{ex}}_BALANCES">

                            </ul>
                        </div>
                    {%  endfor  %}
                    <div style="padding:30px;">
                    </div>
                    <div style="padding:30px;">
                    </div>
                </div>
                <div class="col-xs-3">
                    <table style="width:250px;">
                        <tr>
                            <td class="data_label_class"><br><br> </td>
                        </tr>
                        {%  for ex in exchange_list %}
                          <tr>
                            <td class="data_label_class" style="padding:8px;">{{ex}} </td>
                            <td style="align-content: center" id="{{ex}}_PRICE"> <span class="data_label_class" id="{{ex}}_BID"></span><span style="padding:5px;"></span><span class="data_label_class"id="{{ex}}_ASK"></span></td>
                          </tr>
                        {%  endfor  %}
                    