{% extends "templates/base.html" %}
{% block title %}Trading Interface{% endblock %}
{% block head %}
<!--<META HTTP-EQUIV="refresh" CONTENT="600">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<!--<link rel="stylesheet" href="/css/small-bell-ring-01a.mp3">-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<style>

.data_label_class {
    font-weight: bold;
    font-size: 80%;
}

.cancel_working {
    cursor:pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

</style>

{% endblock %}
{% block maincontent %}

<div class="container">
    <div id="settings-div-1" style="padding:0px;" class="row">
        <div class="col-xs-2">
            <span id="coin_show">Coin: {{coin}}</span>
        </div>
        <div class="col-xs-2">
            <span id="required_spread_show">Required Spread (%): {{required_spread}}</span>
        </div>
        <div class="col-xs-2">
            <span id="trade_size_show">Quantity (BTC): {{trade_size}}</span>
        </div>
        <div class="col-xs-2">
            <span id="buy_on_exchange_show">Buy On: {{buy_on}}</span>
        </div>
        <div class="col-xs-2">
            <span id="send_to_exchange_show">Send To: {{send_to}}</span>
        </div>
        <div class="col-xs-2">
            <span id="email_notification_show">Email Notification: {{email_notification}}</span>
        </div>
    </div>
    <div id="change-settings-div-1" class="row" style="padding-top:10px;">
        <div class="col-xs-2">
            <!--<input type="text" class="input-sm" name="coin" id="coin" value="{{coin}}" style="width:50px;">-->
            <select name="coin" id="coin">
              <option value="btc" {% if coin == "btc" %} selected {% endif %} >btc</option>
              <option value="ltc"  {% if coin == "ltc" %} selected {% endif %} >ltc</option>
                <option value="eth" {% if coin == "eth" %} selected {% endif %} >eth</option>
              <option value="etc"  {% if coin == "etc" %} selected {% endif %} >etc</option>
            </select>
        </div>
        <div class="col-xs-2">
            <